* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Londrina Solid";
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  margin-top: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 0.5rem;
}
